# Rename this file to .env and update values

BASE_API_URL=your-api-url
GENERATE_ENDPOINT=your-api-url/generate

MODEL_A_NAME=your-model-a
MODEL_B_NAME=your-model-b

MAX_RETRIES=3
REQUEST_TIMEOUT=120

VERIFY_SSL=False